*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a:hover {
    color: #db0f54;
}

header .escrit-one{
    font-family: 'Montserrat'; 
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    padding-top: 60px;
    height: 50px;
}
header #botao{
    font-size: 26px;
    padding-top: 60px;
}

/* form from "cadastre-se" page */

#message { 
    color: rgba(0,0,0,0.87); 
    font-family: 'Montserrat'; 
    background:whitesmoke; 
    max-width: 450px; 
    margin: 100px auto 16px; 
    padding: 32px 24px; 
    border-radius: 3px;
    font-weight: bold;
 }

#message h2 {
    color: #db0f54; 
    font-weight: bold; 
    font-size: 16px; 
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px; 
    font-weight: bold;
    font-family: 'Montserrat';
    color: #db0f54; 
    margin: 0 0 16px;
}
              
#message p { 
    line-height: 140%; 
    margin: 16px 0 24px; 
    font-size: 14px;
}

#message a {
    align-items: center;
    display: flex;
}             

#message #name {
    margin: 0px 0px 10px 0px;
}

#message #email {
    margin: 0px 0px 10px 0px;
}

#message #submit-btn {
    display: block;
    margin: 20px auto 0px auto;
}

/*index page*/

#index-header{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/GuiaUni-Foto01.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 315px; /*Largura do Banner*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   }

#index-header h1 {
    text-align: center;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

#index-header form {
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name, #email, #submit {
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    width: 300px;
}

@media (max-width: 999px) {
    #index-header h1 {
        font-size: 20px;
    }
    #name, #email, #submit {
        max-width: 100%;
    }
    .card {
        width: 45% !important;
    }
}

@media (max-width: 650px) {
    .card {
        width: 100% !important;
    }
}

#submit {
    background-color: #fff;
    color: #db0f54;
    font-weight: bold;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-container .card {
    margin: 1rem;
}

/*quem somos page*/
.team-info {
    padding: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000;
    line-height: 30px;
    margin: 0 auto;
    width: 60%;
}

.card-team {
    display: flex;
    border-radius: 10px;
    margin: 20px 0;
}

@media (max-width: 999px) {
    .card-team {
        display: flex;
        flex-direction: column;
    }
    .team-card-img {
        border-radius: 10px 10px 0 0 !important;
        width: 100% !important;
    }
    .team-card-info {
        border-radius: 0px 0px 10px 10px !important;
        width: 100% !important;
    }
    .team-card-info p {
        margin-top: 1rem;
    }
}

.team-card-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    background-color: rgba(238,142,49, 0.7);;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

.team-card-img p {
    font-size: 16px;
    text-align: center;
    width: 60%;
    margin: 0;
}
.team-card-img img {
    border-radius: 50%;
    width: 177px;
}

.team-card-info {
    background-color: rgba(238,142,49,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    width: 50%;
}

.team-card-info p {
    width: 60%;
}

@media (max-width: 600px) {
    .team-info {
        width: 100%;
    }
    
    .team-card-info p {
        margin-top: 1rem;
    }

}

.team-card-social {
    margin-bottom: 1rem;
}

/* carreiras em desenvolvimento page*/

.carreiras-header {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/carreiras.png);
    background-size:cover ;
    background-position: center;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;   
}

.carreiras-header h1{
    font-size: 4rem;
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #fff;
    text-align: center;
}

@media (max-width: 650px) {
    .carreiras-header h1 {
    font-size: 2rem;
    }
    .articles {
        width: 100% !important;
    }
    .articles p {
        font-size: 12px;
        line-height: 24px;
    }
    .articles h2 {
        font-size: 1.2rem;
    }
    
}

.articles {
    padding: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000;
    line-height: 30px;
    margin: 0 auto;
    width: 80%;
}

.articles-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000;
    line-height: 30px;
    margin: 0 auto;
    width: 80%;
}

.articles-nav li {
    list-style-type: decimal;
    margin: 0 5px 0 5px;
}

.articles-nav li a {
    padding-right: 10px;
    color: #db0f54
}

.articles-nav li a:hover {
    color: black;
}

.articles h2 {
    color: #db0f54;
}

.articles img {
    max-width: 100%;
    width: auto;
}
.go-to-form {
    text-align: center;
}

.go-to-form a {
    color: #db0f54;
}

.go-to-form a:hover {
    color: black;
}

/* 5 habilidades do futuro page */

.five-hab-fut-header {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/habilidades.png);
    background-size:cover ;
    background-position: center;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}

.five-hab-fut-header h1 {
    font-size: 4rem;
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #fff;
    text-align: center;
}

@media (max-width: 650px) {
    .five-hab-fut-header h1 {
    font-size: 2rem;
    }
}

/* conhecimento obrigatorio page*/

.conhecimento-header {
    background-image:linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/Conhecimento.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.conhecimento-header h1 {
    font-size: 4rem;
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* credito universitario page*/

.credito-header {
background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/CreditoUni.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
    display: flex;
}
.credito-header h1{
    font-size: 4rem;
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* article nav after scrolling */

.active {
    position: fixed;
    bottom: 0;
    background-color: #db0f54;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    z-index: 10;
}

.active li {
    list-style-type: decimal;
    margin: 0 5px 0 5px;
}

.active li a {
    padding-right: 10px;
    color: white;
}

/* novo fies page */
.novo-fies-header{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/FIES.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
    display: flex;
    
}
.novo-fies-header h1{
    font-size: 4rem;
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.header-ensino-medio {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/conclusaomedio.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
    display: flex;
}
.header-ensino-medio h1{
    font-size: 4rem;
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #fff;
    text-align: center;

}

/* 5 dicas page */

.five-tips-header {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/5estudar.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
    display: flex;
}

.five-tips-header h1 {
    font-size: 4rem;
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.img-article {
    display: flex;
    justify-content: center;
}

/* pos graduacao page*/

.pos-grad-header {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/GuiaUni-Foto-Dicas-de-pos.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.pos-grad-header h1{
    font-size: 4rem;
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/*depoimentos main page*/

.ban-dep {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/depoimentos.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
    display: flex;
}

.ban-dep h1{
    font-size: 4rem;
    font-family: 'Montserrat'; 
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* depoimentos */

.depoimento-white {
    display: flex;
    /* border: 1px solid black;    */
}

.depoimento-cinza{
    background-color: #F4F4F4;
    display: flex;
    /* border: 1px solid black;    */
}

.dep-direita {
    display: block;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 3%;
    margin-top: 3%;
    /* border: 1px solid red; */
    width: 60%;
}

.dep-direita > p {
    margin-bottom: 0;
    font-weight: normal;
}

@media (max-width: 914px) {
    .dep-direita > p {
        font-size: 1.8vh;}
    .dep-direita > h5 {
        font-size: 2vh;}
        .dep-direita-autor > h5 {
            font-size: 2vh;}
        .dep-direita-autor > p {
            font-size: 1.8vh;}

    
}

@media (max-width: 710px) {
    .dep-direita > p {
        font-size: 1.8vh;
    }
}

@media (max-width: 456px) {
    .dep-direita > p {
        font-size: 1.8vh;
    }
}

.dep-direita > h5 {
    font-family: 'Montserrat', sans-serif ;
    font-weight: bold;
    margin-bottom: 0;
}

.dep-direita-autor {
    text-align: right;
    display: block;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 40%;
}

.dep-direita-autor > p {
    margin-bottom: 0;
    font-weight: normal;
}

.dep-direita-autor > h5 {
    font-family: 'Montserrat', sans-serif ;
    font-weight: bold;
    margin-bottom: 0;
}
.dep-esquerda > p {
    margin-bottom: 0;
}

.dep-esquerda {
    display: block;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    /* border: 1px solid blue; */
}

.quote {
    border-left: 1px solid #000;
    padding-left: 3%;
    font-weight: normal;       
}

.quote-cinza {
    border-right: 1px solid #000;
    padding-right: 3%;
    text-align: right;   
    font-weight: normal;
}


.ban-obrigada{

    font-size: 60px;
    display: block;
    align-items: center;
    background-position: 90px;  
    padding-top: 120px;  
    padding-bottom: 120px;


}

.ban-obrigada h1{
    font-size: 60px;
    
}
a{
    text-decoration: none !important;
    color: #000;
    
}


html, body{
    height: 100%;
    margin: 0;  
	padding:0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }



.container {
    display: block;
    
}

.card {
	width: 30%;
	margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}

.card h5 {
    font-weight: 0;
    font-size: 18px;
}



.footer {
    background-color: #ee8e31;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    color: #fff;
    flex-wrap: wrap;    
}

.footer > .ft-copyright {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 50%; 
}

.ft-copyright > span {
    margin-right: 1%;

}
.ft-social img {
    width: 7vh;
}
.linha-ft {
    margin: 1%;
}
.ft-social {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}

.ft-social > span {
    padding-right: 3%;
    padding-left: 3%;
}

@media (max-width: 720px) {
    .footer {
        font-size: 0.7rem;
    }
    .ft-social img {
        width: 3vh;
        padding-right: 0%;
    }
}


.btn-form {
    font-family: 'Montserrat'; 
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #db0f54;
    background: #fff;
    border-radius: 50px;
    padding-right: 1%;
    padding-left: 1%;
    border: none;
    text-align: center;
    line-height: normal;

    width: 276px;
    height: 72px;
    /* left: 544px; */
    margin: 0 auto;

}



@media (max-width: 710px) {
    .btn-form {
        font-size: 15px;
        width: 200px;
        height: 72px;
        margin-top: 60px;
        display: flex;
    }
}

@media (max-width: 710px) {
    .escrit > h1 {
        font-size: 30px;
        
    }
}


.share {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-grow: 1;
}

.share a {
    width: 50%;
    font-size: 10vh;
}

.share i {
    color: #fff;
}

.share > a:visited {
    color: #fff;
}

.facebook {
    background-color: #3C5A99;
    padding: 2%;
    color: white;
}

.twitter {
    background-color: #1DA1F2;
    padding: 2%;
    color: white;
}

.linkedin {
    background-color: #0077B5;
    padding: 2%;
    color: white;

}

.whatsapp {
    background-color: #4AC959;
    padding: 2%;
    color: white;
}

@media (max-width: 710px) {
    i {
        font-size: 6vh;
        color: #fff;
    }
}

.btn-pagform {
    font-family: 'Montserrat'; 
    font-size: 16px;
    border: none;
    padding: 15px;
    background: #db0f54;
    color: #fff;
    border-radius: 50px;
    width:350px;
    padding-left: 5%;
}

.btn-pagform a {
    color: #fff;
}

.linha-form {
    display: flex;
    justify-content: center;
}

    .navBar {
        display: flex;
        background-color: #DB0F54;
        height: auto;
        justify-content: space-between;
    }
    
    .navBar-items {
        display: flex;
        list-style-type: none;
        align-items: center;
        margin: 0;
    }
    
    a.navBar-a, a.navBar-a:visited {
        text-decoration: none;
        color: #fff;
    }

    .navBar-a {
        font-weight: normal;
    }

    .navBar-link {
        padding-right: 10px;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }
    
    #nav-search-input {
        padding-left: 10px;
        margin-right: 8px;
    }

    #title{
        background-color:#fff;
        border:#fff;
        border-radius:20px;
        padding: 5px;
        margin-right: 5px;  
      }
   
    .navBar-link-toggle {
        display: none;
    }
    
    .nav-logo {
        width: 130px;
        height: auto;
        margin-left: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    @media only screen and (max-width: 999px) {
        .navBar-items,
        .navBar {
            flex-direction: column;
        }
        .navBar-items {
            display: none;
            align-items:flex-end;
        }
        #nav-search-input {
            display: none;
        }
        .navBar-items {
            margin-left: 0;
        }
        .navBar-link-toggle {
            align-self: flex-end;
            display: flex;
            position: absolute;
            cursor: pointer;
            font-size: 40px;
            flex-direction: row;
            padding: 18px; 
        }
        .nav-logo {
            align-items: center;
        }
        .Navbar__ToggleShow {
            display: flex;
            align-self: flex-end;
            text-align: right;
          }
        #contactForm {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
    }


#artigos{
    position: absolute;
    Background: #fff;
    List-style: none;
    Right: 0;
    margin-right: 10px;

}
#artigos li a { font-size: 11px;}

.ban-form {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/GuiaUni-Foto01.png);
    background-size:cover ;
    height: 360px;
    width: 100%;
    justify-content: center;
    

}
.ban-form .form-control{
    border-radius: 34px;
    
}
.ban-form .escrit-one{
    float: inline-end;
}
/*Forms meio artigos*/

@media (max-width: 678px) {
    .agressive {
        display: none !important;
    }
}

.agressive{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/GuiaUni-Foto01.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 215px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.agres-form{
    display: flex;
Flex-direction: column;
Align-items: center;
justify-content: center;
}
/*Forms meio artigos*/

.container-ebook {
    display: flex;
    justify-content: center;
    margin: 3% 10% 5% 10%;
}


.ebook {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0% 2% 2% 2%;
}

.ebook > p {
    font-weight: normal;
}
.ebook > img {
    padding-bottom: 2%;
    width: 100%;
}

.form-ebook {
    width: 50%;
    justify-content: center;
    display: flex;
    font-size: 24px;
    text-align: center;
    margin-left: 10%;
}


.form_ebook > p {
    font-weight: normal;
}


.nome, .email-form {
    width: 100%;
}

.nome > input#name:only-of-type {
    display: flex;
    width: 100%;
    margin: 0;
}

.email-form > input#email:only-of-type {
    display: flex;
    width: 100%;
    margin: 0;
}

@media (max-width: 728px) {
    .container-ebook {
        flex-direction: column;
        /* margin: 3%; */
        /* width: 100%; */
        justify-content: center;
        align-items: center;
    }
    div.form-ebook {
        margin-left: 0;
    }
    div.ebook {
        width: 100%;
    }
}

/* teste */

.dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    border: 4px solid #fff;
    position: relative;
    margin-left: 0.8%;
    margin-right: 0.8%;
  }

  .dot-pt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14vh;
    flex-direction: row;
  }

  .dot-txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1%;
  }

  .dot-txt > h4 {
      text-align: center;
      font-weight: bold;
  }
   

  .dot-txt > h5, h4 {
      font-family: 'Montserrat', sans-serif;
  }

  @media (max-width: 914px) {
      .dot-pt {
          margin-top: 0;
      }
  }

  @media (max-width: 710px) {
      .dot-pt {
          margin-top: 20vh;
      }
  }

  @media (max-width: 456px) {
    .dot-pt {
        margin-top: 15vh;
    }
}

.dot-pt > h5 {
    font-weight: normal;
}

.dot-pt > h4 {
    font-weight: bold;
}

.dot-pt-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    flex-direction: column;
  }

.dot-pt-1 > h5 {
    font-weight: normal;
}

.dot-pt-1 > h4 {
    font-weight: bold;
}

@media (max-width: 704px) {
    .dot-pt-1 {
        margin-top: 15vh;
    }
}




.quemsomos img{
    border-radius: 50%;
    width: 191px;
      
}

.quemsomos .text-quemsomos img{
    width: 75px;
}
.quemsomos{
    display: -webkit-inline-box;

}
.quemsomos .text-quemsomos{
    margin-left: 50px;
}
.text-quemsomos i{
    font-weight:200;
}


.qmsomos {

    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    margin-top: 5%;
    
}

@media (max-width:1161px){
    .quemsomos {
        width: 50%;
    }
    .text-quemsomos img{
        width: 30%;
    }
    .quemsomos i{
        font-size: 100%;
        color: black;
    }
    .quemsomos p{
        font-size: 100%;
    }
    
}
@media (max-width: 728px) {
    .quemsomos .text-quemsomos img {
        width: 50px;
    }
    .quemsomos img {
        width: 100px;
    }
}

.dep-direita-autor img{
    border-radius: 50%;
    width: 191px;

}
.deposocial img {
    width: 120px;
    padding-left: 13px;
    

}
.arts .deposocial img{
    align-content: center;
}

.escrit-grande > h1 {
    font-family: 'Montserrat'; 
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    align-items: center;
}

@media (max-width: 710px) {
    .escrit-grande > h1 {
        font-size: 1.5rem;
    }
}

